h4 {
  margin-top: 16px;
}
.s-order-dash-pg {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.s-order-dash-pg .chart-box {
  margin: 16px;
  padding: 0 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 2px;
}
.legend-items-container {
  margin: 10px 10px;
}

:host
  ::ng-deep
  .advanced-pie-legend
  .legend-items-container
  .legend-items
  .legend-item
  .item-value {
  font-size: 24px;
  margin-top: 3px;
  margin-left: 11px;
}
